/* Page 1: Big Background Styles */

html {
    background-color: rgb(151, 151, 151);
    background-image: url(Images/1-big-viburnum.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.wrapper {
    max-width: 970px;
    margin: 20px auto;
    border: 3px solid rgb(63, 139, 5);
    background-color: rgba(240, 255, 255, 0.8);
    padding: 10px;
}