/* Page 3: Banner Background */

html {
    background-color: rgb(250, 241, 218);
}

.wrapper {
    max-width: 970px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

header {
    background-image: url(Images/3-fruit.jpg);
    background-size: cover;
    background-position: center;
    height: 240px;
}

header h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 8px solid rgb(151, 6, 6);
    padding: 20px;
    margin: 0;
}

aside {
    padding: 15px 10px;
}

main {
    padding: 10px;
}