/* Page 4: Hero Image */

ul {
    margin: 0;
}

.wrapper {
    max-width: 970px;
    margin: 0 auto;
    padding: 20px;
}

.banner {
    background-image: url(Images/4-uwm-hero.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 420px;
}

.colophon {
    background-color: gold;
    padding: 15px;
}


body > aside {
    padding: 20px;
    border-top: 2px solid #ccc;
}

body > aside nav ul {
    background-color:  #ffffff;
    padding: 20px;
}